.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  background-color: rgb(235, 250, 255);
  min-height: 100vh;
  min-width:100vh;
}


/* HEADER */
.App-header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: space-between;
  color: white;
}
.myName{
  font-size:  calc(5px + 5vmin);
  font-weight: 500;
  max-width: 40%;;
  border: rgb(235, 250, 255) 1px solid;
  display: flex;
  white-space: nowrap;
  margin-left: 3%;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:rgb(235, 250, 255) 1px solid;
  width: 32%;
 
  margin-right: 5%;
  
  
}

 a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: calc(4px + 2.5vmin);
 }
/* BODY */
 p{
  font-size: 25px;
 }

.main-body{
  margin-top: 5%;
  
}

/* HOME */

.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home h3{
  width: 60%;
  margin-bottom: 10%;
  text-align: left;
}

 /* ABOUT */

 
 .about-content-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   
   
  }

  h3{
    font-size: calc(5px + 8vmin);
  }
  
  .about-content{
    width: 60%;
    margin-bottom: 10%;
    text-align: left;
    
  }
  
  .about-skills{
    width: 100%;
    display: flex;  
  align-items: center;
  justify-content: center;
  display: inline-block; 
 }

 .skills-boxes{
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: white;
  border: solid purple 1px;
  width:100%;
  
 
}

.box {
  min-width:25%;
}


.box h6{
  margin: 15px;
  font-size: 40px;
}

img{
  height:200px;

}

.about-school{
  width: 60%;
  text-align: left;
  margin-bottom: 10%;
}

/* PROJECTS */

h4 {
  margin-top: 5%;
}

.project-container {
display:flex;
flex-direction: column;
justify-content: center;
align-content: center;
flex-wrap: wrap;
align-items: center;
margin-left: 10%;
margin-right: 10%;

}

.project{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
 
}

.project img{
  max-width: 50%;
  height: auto;
}

.grow-1 {
  display: flex;
  flex-grow: 1;
}

 @media screen and (max-width: 1023px) {
  nav{
    width:60%;
  }
  
 }